body{
  background-color: #a6e3e9;
}
img{
  height: 250px
}
hr{
  border-style: none;
  border-top-style: dotted ;
  width: 10%;
  border-width: 7px;
  border-color: white;
}
h1,h3{
  color: #66BFBF;
}
